<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersionName</key>
	<string>2.4.1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Used to display calendar events</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>WidgetConfigurationIntent</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/dzfly/CalendarX/master/appcast.xml</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUPublicEDKey</key>
	<string>BkXqo4YtKku8oj45XwPxfDdn6mnpmhTf94ftOwZz4G0=</string>
	<key>CFBundleDisplayName</key>
	<string>小日历</string>
	<key>CFBundleName</key>
	<string>小日历</string>
</dict>
</plist>
